body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.header {
  max-width: 1240px;
  margin: 2rem auto; /* Ajustement des marges pour un meilleur espacement */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    text-decoration: none;
  }

  /* Style pour le lien actif */
  .nav-link.active {
    text-decoration: underline; /* Le lien actif est souligné */
  }

  .navigation {
    display: flex;
    gap: 2rem; /* Espace entre "Accueil" et "À propos" */
  }
}

/* Home.css */

.banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 223px; /* Ajustez la hauteur si nécessaire */
  border-radius: 15px; /* Coins arrondis */
  overflow: hidden; /* Masquer tout débordement */
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.banner-image {
  width: 1240px;
  height: 223px;
  object-fit: cover; /* Ajuste l'image pour remplir la bannière */
  position: absolute;
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2; /* Place le texte au-dessus de l'image */
  color: white; /* Couleur du texte */
  font-size: 48px; /* Ajustez la taille du texte */
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); /* Ombre pour le texte */
  white-space: pre-wrap;; /* Empêche le retour à la ligne */
  
}

/*Cards.css */
.homepage {
  margin-top: 1rem; /* Ajustez la valeur en fonction de l'espace nécessaire */
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  margin: 3rem auto 2rem auto;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
  width: 1240px;
  border-radius: 25px;
}

.card {
  display: flex;
  flex-direction: column; /* Alignement vertical */
  align-items: center; /* Centrer le contenu */
  text-align: center; /* Centrer le texte */
  border-radius: 10px; /* Coins arrondis */
  overflow: hidden; /* Masquer le débordement */
}

.card__img {
  object-fit: cover;
  width: 340px;
  height: 340px;
  border-radius: 8px;
  transition: transform 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card__img:hover {
  transform: scale(1.05); /* Zoom léger au survol */
}

.card__title {
  display: flex;
  padding-top: 16rem;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 300px;
  color: #ffffff;
  font-family: montserrat;
  line-height: 25px;
  text-align: left;
}

/*Footer.css */
.footer {
  max-width: 100%;
  margin: auto;
}

.footer_img {
  margin-top: 50px;
  width: 100%;
}

.logo_mobile {
  display: none; /* Cache l'image mobile */
}

/*A propos*/

.apropos {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Styles spécifiques pour la bannière sur la page A propos */
.banner.apropos-banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.banner.apropos-banner .banner-image {
  width: 1240px;
  height: 223px;
  position: absolute;
  z-index: 1;
  object-fit: contain;
}

/* Styles spécifiques pour carousel-banner*/

.carousel-banner .prev,
.carousel-banner .next {
  position: absolute;
  top: 50%; /* Centre verticalement */
  transform: translateY(-50%); /* Ajustement vertical */
  background-color: rgb(0 0 0 / 0%); /* Fond semi-transparent */
  color: white; /* Couleur du texte */
  border: none;
  padding: 0.5rem 1rem; /* Taille des flèches */
  cursor: pointer;
  z-index: 2; /* Superpose aux autres éléments */
  font-size: 4rem; /* Taille des flèches */
  border-radius: 50%; /* Cercle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-banner .prev {
  left: 10px; /* Position à gauche */
}

.carousel-banner .next {
  right: 10px; /* Position à droite */
}

.banner.carousel-banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 25px;
}

.banner.carousel-banner .banner-image {
  width: 1240px;
  height: 415px;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  border-radius: 25px;
}

.carousel-banner .slide-index {
  position: absolute !important;
  bottom: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: rgb(0 0 0 / 0%) !important;
  color: white !important;
  padding: 0.5rem !important;
  font-size: 18px !important;
  z-index: 2 !important;
  font-family: Montserrat;
}

/* Styles spécifiques pour la description et les équipements */
.description_equipements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 1240px;
}

.details-section {
  flex: 1;
  width: 100%;
  color: white;
  position: relative;
}

.details-section summary {
  background-color: #f76a6a;
  color: white;
  padding: 1rem;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.details-section .details-arrow {
  width: 17px;
  height: 17px;
  transition: transform 0.3s ease; /* Rotation fluide pour la flèche */
  border-radius: 50%; /* Flèche arrondie */
}

.details-section[open] .details-arrow {
  transform: rotate(180deg); /* Rotation de la flèche lorsqu'elle est ouverte */
}

.details-section p,
.details-section ul {
  background-color: white; /* Fond blanc pour le contenu */
  color: #333; /* Texte sombre */
  padding: 1rem;
  margin: 0;
  list-style: none;
}

/*Info section*/

.info {
  display: flex;
  justify-content: space-between; /* Space between RentalInfo and OwnerInfo */
  align-items: center; /* Align items vertically */
  margin: 2rem 0; /* Add vertical spacing */
}

/*Rental section*/
.rental {
  max-width: 1240px; /* Limite la largeur au même niveau que le carrousel */
  margin: 0 auto; /* Centre les éléments horizontalement */
  display: flex;
  flex-direction: column; /* Arrange les enfants verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  padding: 15px;
}
.stats {
  width: 100%; /* Prend toute la largeur du conteneur */
  display: flex;
  justify-content: space-between; /* Espace entre les tags et les étoiles */
  align-items: center; /* Aligne les éléments verticalement */
  margin-top: 1rem;
}
.rental-info {
  flex: 2; /* Prend plus de place que .owner-info */
  max-width: calc(
    1240px - 200px - 2rem
  ); /* Largeur dynamique pour rester alignée avec .info-container */
  word-wrap: break-word; /* Gère les longs textes */
}
.info-container {
  display: flex; /* Dispose les éléments horizontalement */
  justify-content: space-between; /* Espace entre RentalInfo et OwnerInfo */
  align-items: center; /* Aligne les éléments verticalement au centre */
  max-width: 1240px; /* Largeur maximale alignée avec le carrousel */
  width: 100%; /* Prend toute la largeur disponible */
  margin: 1rem auto; /* Centrage horizontal avec un espacement vertical */
  /* padding: 0 1rem; Ajoute un espacement interne pour éviter que les éléments touchent les bords */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.rental-title {
  color: #f76a6a; /* Match the color of the title */
  font-size: 2rem; /* Adjust the font size for the title */
  font-weight: bold;
  margin: 0;
}

.rental-location {
  color: black;
  font-size: 1.2rem; /* Adjust the font size for the location */
  margin: 0.5rem 0 0 0;
  font-weight: 500;
}

/*Owner section*/
.owner-info {
  display: flex;
  flex-direction: row; /* Aligne les éléments côte à côte */
  align-items: center; /* Centre verticalement l'image et le texte */
  text-align: left; /* Aligne le texte à gauche */
  max-width: 200px;
  word-wrap: break-word;
  justify-content: flex-start; /* Aligne les éléments au début */
  gap: 1rem; /* Espace entre l'image et le texte */
}

.owner {
  display: none; /* Cache dans le mode mobile */
}
.owner-name {
  display: flex;
  flex-direction: column; /* Force le prénom et le nom à être sur deux lignes */
  color: #f76a6a;
  font-family: "Montserrat", sans-serif; /* Typographie spécifiée */
  font-weight: 500; /* Poids de la police */
  font-size: 18px; /* Taille de la police */
  line-height: 25.67px; /* Hauteur de ligne */
  margin: 0; /* Supprime les marges par défaut */
  text-align: right; /* Alignement à droite */
}

.owner-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  flex-shrink: 0; /* Empêche l'image de se déformer */
}

/* Conteneur pour aligner les tags et les étoiles */
.tags-stars {
  display: flex; /* Aligner les enfants horizontalement */
  justify-content: space-between; /* Ajouter de l'espace entre les enfants */
  align-items: center; /* Centrer verticalement */
  gap: 2rem; /* Espace entre les tags et les étoiles */
}

/* Styles pour les tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Espacement entre les tags */
}

.tags span {
  background-color: #f76a6a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  display: flex; /* Activer Flexbox */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

/* Styles pour les étoiles */
.stars {
  display: flex;
  gap: 0.5rem; /* Espacement entre les étoiles */
}
.stars-mobile {
  display: none;
}
.stars i {
  color: #f76a6a;
  font-size: 18px;
}

/* Styles pour la section A propos */

.apropospage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.about-details {
  width: 100%;
  max-width: 1023px; /* Aligner avec la largeur maximale */
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Espacement entre les sections */
}

.details-section summary {
  background-color: #f76a6a;
  color: white;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
}

.details-section p {
  background-color: white;
  color: #333;
  padding: 1rem;
  margin: 0;
  line-height: 1.5;
}

.details-arrow {
  transition: transform 0.3s ease;
}

.details-arrow.open {
  transform: rotate(180deg); /* Rotation de la flèche */
}

/* Styles pour la page erreur */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Pleine hauteur de la page */
  text-align: center;
  gap: 138px; /* Espacement entre les éléments */
}

.error-code {
  font-size: 200px; /* Taille énorme pour 404 */
  font-weight: bold;
  color: #f76a6a; /* Couleur rouge pour 404 */
  margin: 0;
  font-family: "Montserrat"; /* Police spécifique */
}

.error-message {
  font-size: 1.5rem;
  color: #f76a6a; /* Couleur de texte */
  margin: 0;
}

.error-link {
  font-size: 1.1rem;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.error-link:hover {
  color: #f76a6a; /* Changement de couleur au survol */
}
.stars-owner-row {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
    max-width: 768px; /* Largeur maximale */
    margin: 20px;
    margin-bottom: 5px;
  }

  .logo {
    width: 140px; /* Ajustez la largeur du logo */
    height: auto; /* Conservez les proportions */
  }

  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 12px !important; /* Taille de police réduite */
    text-transform: uppercase;
    color: black;
    text-decoration: none; /* Supprimer le soulignement */
    font-weight: 500;
  }

  /* Bannière Carousel */

  .banner.carousel-banner {
    height: 335px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
  }

  .banner.carousel-banner .banner-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
  }
  .banner {
    height: 111px;
    width: auto;
    border-radius: 10px; /* Réduction des coins arrondis */
    margin: 20px; /* Ajustement des marges */
    overflow: hidden;
    box-shadow: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Aligne le contenu à gauche */
    align-items: center; /* Centre verticalement */
    padding: 0; /* Supprime tout padding intérieur */
  }

  .banner-image {
    width: 100%; /* S'adapte à la largeur de l'écran */
    height: 100%;
  }

  .banner-text {
    font-size: 24px; /* Taille du texte */
    white-space: normal; /* Permet au texte de revenir à la ligne si nécessaire */
    text-align: left; /* Aligne le texte à gauche */
    margin: 10px 0; /* Ajoute un espacement en haut et en bas uniquement */
    padding-left: 15px; /* Ajoute un espace à gauche sans marge négative */
  }

  .carousel-banner .prev,
  .carousel-banner .next {
    padding: 0.3rem 0.6rem; /* Réduit la taille des boutons */
    font-size: 2rem; /* Réduit la taille du texte */
    width: 11.67px; /* Taille fixe pour les petits écrans */
    height: 19.8px;
  }

  .carousel-banner .prev {
    left: 5px; /* Réduit l'espace par rapport au bord gauche */
  }

  .carousel-banner .next {
    right: 5px; /* Réduit l'espace par rapport au bord droit */
  }

  .carousel-banner .slide-index {
    display: none;
  }

  .rental-title {
    color: #f76a6a; /* Match the color of the title */
    font-size: 18px; /* Adjust the font size for the title */
    margin-top: -10px;
  }
  
  .rental-location {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }

  .stats {
    margin-top: 0px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tags span {
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    padding: 8px;
    /* /* width: 84px; */
  }

  .owner-info-mobile {
    display: flex;
    flex-direction: row; /* Aligne les éléments côte à côte */
    align-items: center; /* Centre verticalement l'image et le texte */
    text-align: left; /* Aligne le texte à gauche */
    align-self: flex-start; /* Aligne à gauche en mobile */
    max-width: 200px;
    word-wrap: break-word;
    justify-content: flex-start; /* Aligne les éléments au début */
    gap: 1rem; /* Espace entre l'image et le texte */
  }

  .owner-name-mobile {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    color: #f76a6a;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 7.67px;
    margin: 0;
    text-align: right;
  }

  .owner-picture-mobile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #d3d3d3;
    flex-shrink: 0; /* Empêche l'image de se déformer */
  }

  .stars-mobile {
    display: flex;
    align-items: flex-start; /* Aligne à gauche */
    flex-shrink: 0; /* Empêche la réduction de taille */
    gap: 0.5rem;
    width: 10px;
    height: 10px;
  }

  .star-icon {
    width: 13.41px;
    height: 13px;
  }

  .owner-info {
    display: none; /* Cache dans le mode mobile */
  }

  .stats {
    flex-direction: column; /* Réorganise les éléments */
    align-items: start;
  }

  .owner {
    flex-shrink: 0; /* Empêche la réduction de taille */
    align-self: flex-end; /* S'aligne en haut à droite */
    display: flex;
    align-items: center;
    gap: 1rem; /* Espace entre l'image et le texte */
    text-align: right;
  }

  .stars {
    display: none; /*
    gap: 0.5rem; /* Espacement entre les étoiles */
  }

  .stars-owner-row {
    display: flex;
    justify-content: space-between; /* Stars à gauche, Owner à droite */
    align-items: center; /* Alignement vertical centré */
    width: 100%;
    padding-top: 15px;
  }

  .info-container {
    gap: 5cm; /* Espace entre les tags et la ligne stars-owner */
  }

  .details-section summary {
    background-color: #f76a6a;
    color: white;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 18.54px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
  }

  .cards {
    display: flex; /* Passe en mode flexbox */
    flex-direction: column; /* Dispose les cartes en colonne */
    align-items: center; /* Centre les cartes horizontalement */
    gap: 1rem; /* Espace entre les cartes */
    padding: 1rem; /* Ajustez le padding pour réduire l'espace autour */
    margin: 0; /* Supprimez les marges inutiles */
    width: 100%; /* Prenez toute la largeur de l'écran */
    max-width: none; /* Supprimez la limite de largeur */
    background-color: white; /* Supprimez la couleur de fond */
  }

  .card {
    width: 335px; /* Prenez toute la largeur disponible */
    height: 225px; /* Ajustez la hauteur au contenu */
  }

  .card__img {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: 200px; /* Fixez une hauteur appropriée pour les mobiles */
    object-fit: cover; /* Ajuste l'image pour remplir sans déformer */
  }

  .card__title {
    font-size: 16px; /* Réduit la taille de police pour mobile */
    padding: 12px; /* Ajuste les marges */
    line-height: 20px;
    bottom: 79px; /* Place le texte légèrement au-dessus du bord */
    position: relative;
    text-decoration: none !important;
    border-bottom: none !important;
  }

  a {
    text-decoration: none;
  }

  .footer {
    background-color: black; /* Fond noir pour le footer */
    text-align: center;
    width: 100%; /* Largeur de 100% pour s'adapter à l'écran */
    height: auto;
    display: flex; /* Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-top: 50px;
  }

  .footer_img {
    display: none; /* Cache l'image desktop */
  }

  .logo_mobile {
    display: block; /* Affiche l'image mobile */
    width: auto;
    height: auto;
    max-width: 100%; /* Empêche l'image de dépasser la largeur */
    margin: 0 auto; /* Centre l'image */
  }

  .description_equipements {
    flex-direction: column; /* Les éléments seront empilés verticalement */
    gap: 1rem;
  }

  .details-section {
    max-width: 100%; /* Prendre toute la largeur disponible */
  }

  .about-details {
    gap: 20px; /* Espacement entre les sections */
  
  }

  .apropospage {
    gap: 5px; /* Ajustement des marges */
    padding-top: 0rem; /* Ajout de padding */
    padding-bottom: 0px;
  }


  .banner.apropos-banner {
    height: 111px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
  }

  
  .banner.apropos-banner .banner-image {
    width: 400px;
    height: 111px;
    object-fit: fill;
    border-radius: 10px;
  }

  /* Page erreur  */

  .error-code {
    font-size: 96px;
  }
  .error-message {
    font-size: 18px;
    color: #f76a6a;
    margin: 0;
  }
  .error-link {
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    line-height: 25.67px;
  }
}
